@mixin responsive-nav {
  @media screen and (max-width: $nav-breakpoint) {
    .topnav-right a {
      display: none !important;
    }

    .topnav-right .icon {
      display: block !important;
      margin-left: auto;
      font-size: 1.8rem;
      cursor: pointer;
    }

    .topnav-left a {
      font-size: 1.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .topnav-right.responsive {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      border-bottom: 1px solid $nav-border-color;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      a {
        display: block !important;
        padding: 1rem;
        font-size: 1.2rem;
        color: $text-color;
      }
    }
  }
}

@mixin responsive-profile-image{
  @media screen and (max-width: 800px) {
    .profile-image-container{
      display: none !important;
    }
    .about-container{
      width: 100% !important;

    }
  }

  @media screen and (max-height: 650px) {
    .profile-image-container{
      display: none !important;
    }
    .about-container{
      width: 100% !important;
    }
  }
}

@mixin responsive-rectangles{
  @media screen and (max-width: 1000px){
    .rectangle.topright{
      display: none !important;
    }
    .rectangle.botleft{
      display: none !important;
    }
  }

  @media screen and (max-height: 710px){
    .rectangle.topright{
      display: none !important;
    }
    .rectangle.botleft{
      display: none !important;
    }
  }
}
