$font-main: "Twentieth Century Bold";
$primary-color: #F36661;
$hover-color: #f78c7b;
$text-color: grey;
$thin-border: rgba(107, 102, 128, 0.30);

$primary-color: #F36661;
$hover-color: #f78c7b;
$text-color: grey;
$font-main: Arial, sans-serif;
$font-bold: "Twentieth Century Bold", sans-serif;
$nav-padding: 2rem 6rem;
$nav-border-color: 1px solid rgba(107, 102, 128, 0.2);

$nav-active-bottom-spacing: -2.4rem;
$nav-active-bottom-width: calc(100% + 25px);
$nav-active-bottom-height: 5px;
$nav-breakpoint: 900px;
