@use "../base/mixins";
@use "../base/variables";
@import "../base/fonts";





.main-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4vh;
  margin-right: 2rem;

  .profile-image-container {
    position: relative;
    flex: 1 1 400px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .profile-image {
      display: block;
      width: 60%;
      height: auto;
      color: white;
    }


    .rectangle.topright {
      position: absolute;
      margin-top: -4%;
      margin-right: -4%;
      width: 35%;
      aspect-ratio: 1/1;
      background-color: #F47A65;
      z-index: -1;
    }


    .rectangle.botleft {
      position: absolute;
      margin-top: 60%;
      left: 35%;
      width: clamp(120px, 18%, 150px);
      height: clamp(80px, 30%, 200px);
      border: 3px solid #F47A65;
      border-radius: 5px;
      background-color: transparent;
      z-index: -1;
    }
  }
  @include mixins.about-responsiveness;

  .about-container {
    flex: 1 1 400px;
    max-width: 100%;
    margin-top: 5vh;


    h1 {
      padding-top: 5vh;
      padding-left: 5vh;
      font-family: $font-bold;
    }

    #simpleAbout {
      padding-top: 2vh;
      padding-left: 5vh;
      font-family: Arial, sans-serif;
      margin-right: 15vh;
      color: grey;
    }


    #socials {
      padding-top: 1vh;
      padding-left: 5vh;
      color: grey;
      list-style: none;
      display: flex;
      gap: 10px;


      i {
        display: flex;
        margin-right: 1vh;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size: 14px;
        color: black;
      }
    }


    li {
      padding-top: 3vh;
    }

    #aboutBasics {
      list-style-type: none;
      text-decoration: none;
      padding-left: 5vh;
      column-count: 2;
      column-gap: 1rem;
    }
  }
}






